.private #wrapper-private
{
    height: 100%;
}

.private #group-info
{
    height: 200px;
}

.private #wrapper-content
{
    height: calc(100% - 200px);
}

.private #wrapper-document
{
    height: 500px;
}

.private #wrapper-chat
{
    height: 500px;
}

a.powered-by-firepad {display:none;} /* remove firepad logo */