.private #wrapper-private
{
    height: 100%;
}

.private #group-info
{
}

#chat-area{
	height: calc(100% - 70px);
}

.private #wrapper-content
{
    height: calc(100vh - 200px);
}


.private #wrapper-chat
{
    height: 100%;
}

.private #wrapper-document
{
    height: 92%;
}

.firepad-userlist{
	background-color: #3366ff;
	color: white;
}

.firepad-userlist-heading{
	text-align: right;
	padding-right: 20px;
}

.firepad-userlist-user{
	float: right;
	display: inline-block;
	padding: 5px;
	background-color: white;
	border-radius: 10px;
	height: 50px;
	width: 100px;
	color: black;
    text-align: left;
    line-height: 40px;
    overflow: hidden;
}

.firepad-userlist-color-indicator{
    width:5px;
    height:5px;
    border: 1px solid gray;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: left;
    position: relative;
    top: 8px;
    margin: 2px;
    margin-right: 3px;
}


a.powered-by-firepad {display:none;} /* remove firepad logo */
