
.caret
{
	cursor: pointer;
	padding: 2px;
}
#wrapper-user
{
	position: relative;
	height: calc(100vh - 70px);
	width: 100%;
}
.user.row
{
	height: 100%;
	width: 100%;
}

#wrapper-sidebar
{
	height: 100%;
	background-color: #e0e0e0;
}

#wrapper-main
{
	height: 100%;
	overflow-y: auto;
}

.wrapper-organization
{
	margin-top: 50px;
}

.wrapper-group
{
	border: 1px solid black; 
	margin-top: 32px; 
	margin: 25px;
	border-radius: 5px; 
	padding: 25px; 
	padding-top: 10px; 
	padding-bottom: 40px; 
	box-shadow: 2px 2px 2px grey;
	width: calc(33.33% - 50px) !important;
}

.quicklink { cursor: pointer; }

.chev-org
{
	font-size: 20px; 
	margin-left: 5px;
}

.wrapper-chev-notif
{
	position: absolute; 
	bottom: 0; 
	width: 100%;
}
.chev-notif
{
	margin-left: auto;
	cursor: pointer;
}

.wrapper-leaveBtn
{
	position: absolute;
	right: 0;
	bottom: 0;
}

.ng-hide
{
	background-color: rgba(0,0,0,.2);
	transition: 1s ease;
	font-size: 0;
}
