<body>
    <div class="container">
        <h1 class="text-center">Group Genius</h1>
        <h5 class="text-center small">A better way to study.</h5>
        
        <div style="display: block;margin: auto; text-align: center;">
            <br>
            <br>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signUpModal" >Sign Up</button>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signInModal">Sign In</button>
            <br>
            <br>
        </div>
  
        <!-- add modals here -->
        
        <div class="row">
            <div class="col-md-4">
              <div class="icon-block text-center">
                <h1><i class="fa fa-file-text-o"></i></h1>
                <h5>Collaborative Documents</h5>

                <p class="light center">Work together in a text document. Write code, essays or anything else together, without using any outside resources.</p>
            </div>
        </div>
        <div class="col-md-4">
          <div class="icon-block text-center">
            <h1><i class="fa fa-comments-o"></i></h1>
            <h5>Chat</h5>

            <p class="light center">Working together means communicating together. Keep your chats on topic using our channel system to get work done efficiently.</p>
        </div>
    </div>
    <div class="col-md-4">
      <div class="icon-block text-center">
        <h1><i class="fa fa-map-marker"></i></h1>
        <h5>Location</h5>

        <p class="light center">Work virtually or in person. Specify a location and optionally limit the size of your group to get the most out of working together.</p>
    </div>
</div>
</div>
</div>
</body>

