<!-- Private Messaging Screen -->
<div id="wrapper-private" class="private">
	<div id="group-info">
		<div id="group-name"><center>
			<h1>{{ groupInfo.name }}</h1></center>
		</div>
		<div id="group-status">
			<div id="group-activeStatus">

			</div>

			<div id="group-notifcations">
			</div>

		</div>
	</div> <!-- END #group-info -->
	<div id="wrapper-content" class="">
		<div id="wrapper-chat" class="col-md-4 chatbox box">
			<div id="chat-area" class="chat-area">
				<div ng-repeat="message in messages" class="chat-message">
					<strong>{{ message.name }}:</strong>
					<span>{{ message.text }} </span>
				</div>
			</div>
			<div class="message-box">
				<hr>

				<input class="user-message" ng-model="messageText" type="text">
				<button ng-click="saveMessage()" class="btn btn-primary user-message-send">Send</button>
			</div>
		</div><!-- END #wrapper-chat -->

		<div id="wrapper-document" class="col-md-8 well" style="padding-top: 0px">
		</div><!-- END #wrapper-document -->
	</div><!-- END #wrapper-content -->
</div> <!-- END #wrapper-private -->
