<!-- Private Messaging Screen -->
<div id="wrapper-private" class="private">
	

	<div id="group-info">
		<div id="group-name">
			<a href="#">yomama'shouse</a>
		</div>
		<div id="group-status">
			<div id="group-activeStatus" class="">

			</div>

			<div id="group-notifcations">
			</div>
		<div>
	</div> <!-- END #group-info -->

	<div id="wrapper-content" class="">

		<div id="wrapper-channel" class="col-md-4">
			
		</div> <!-- END #wrapper-channel -->

		<div id="wrapper-chat" class="col-md-4">
			<div id="chat-area">
				{{ messages }}
			</div>
			<div id="message-box">
				<input type="text">
				<button>Send</button>
			</div>


		</div><!-- END #wrapper-chat -->

		<div id="wrapper-document" class="col-md-4">
			document
		</div><!-- END #wrapper-document -->

	</div><!-- END #wrapper-content -->

</div> <!-- END #wrapper-private -->