<!-- Public Messaging Screen -->

<div class="row" id="public-messaging-screen" style="padding: 40px;">
	<!-- group list -->

	<div class="col-md-4" id="search-pane" style=" margin: 10px">
		
		<!-- Org Dropdown -->
		<div class="dropdown" style="display: block;margin: auto; text-align: center;">
			<button class="btn btn-primary dropdown-toggle" style="width: 100%; font-size: 20px" type="button" data-toggle="dropdown">{{currentClass}} <span class="caret"></span></button>
			<ul class="dropdown-menu" style="width: 100%">
				<li ng-repeat="class in classes" style="width: 100%; font-size: 18px">
<center>
					<a ng-click="selCls(class)">
					{{class}}
					</a>
</center>
				</li>
			</ul>
		</div>

			<input type="text" class="form-control" id="search-input" placeholder="Search for groups..." autocomplete="off" style="width: 100%;display:inline-block;" ng-model="searchText">
		


		<div style="margin: 10px;">
			<ul class="list-group">
			  <li ng-repeat="group in allGroups | filter:searchText" class="list-group-item" ng-click="updateGroup(group.name, group.desc, group.members, group.spots);" ng-if="isActiveClass(group.org)">
				
			  	<h3>{{group.name}}</h3>
			  	<p>{{formatMembers(group.members) | limitTo: 50}}{{formatMembers(group.members).length > 50 ? ' ...' : ''}}</p>
			  	<p>{{group.desc | limitTo: 50}}{{group.desc.length > 20 ? ' ...' : ''}}</p>
			  </li>
			</ul>
		</div>

<center>
		<div style="padding: 10px;">
			<button type="button" class="btn  btn-success btn-lg" data-toggle="modal" data-target="#myModal">Create New Group</button>
		</div>
</center>
	</div>

	

	<!-- specific group -->
	<div class="col-md-7" id="search-pane" style="margin: 10px">
		<div class="well">
		<h2 ng-bind="currentGroup" style="text-align: center;">Select A Group!</h2>
		<br>
		<p ng-bind="currentMembers"></p>
		<br>
		<p ng-bind="openSpots"></p>
		<br>
		<p ng-bind="desc"></p>
		<br>
		<button style="display: block;margin: auto; text-align: center;"type="button" class="btn btn-success">Join this Group</button>
		<br>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h2 class="modal-title" id="myModalLabel">Create New Group</h2>
	      </div>


	     	<div class="modal-body">
		      	<!-- organization -->
		      	<div>
		        	<h3 style="display:inline-block;">Organization: </h3>
		        	<div style="display:inline-block;">
					  <select id="orgSelect">
						  <option value="482" selected>EECS 482</option>
						  <option value="388">EECS 388</option>
						  <option value="445">EECS 445</option>
						</select>
					</div>
		        </div>
		      	
				<!-- group name -->
		        <div>
		        	<h3 style="display:inline-block;">Group Name: </h3>
		        	<input ng-model="newName" style="display:inline-block;" type="text">
		        </div>
		        <!-- description -->
		        <div>
		        	<h3 style="display:inline-block;">Description: </h3>
		        	<input ng-model="newDesc" style="display:inline-block;" type="text">
		        </div>
		        <!-- organization -->
		        	<h3>Approve All Members <input ng-model="mustApprove" type="checkbox" id="cbox1"></h3>
		      	<!-- num members -->
		      	<div>
		      		<h3 style="display:inline-block;">Members Limit: </h3>
		      		<div style="display:inline-block;" class="dropdown">
					  
					  <select id="limitSelect">
						  <option>no limit</option>
						  <option>1</option>
						  <option>2</option>
						  <option>3</option>
						  <option>4</option>
						  <option>5</option>
						  <option>6</option>
						  <option>7</option>
						  <option>8</option>
						  <option>9</option>
						  <option>10</option>
						</select>
					</div>
					
		      	</div>
		      	
			</div>


	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="createNewGroup()">Create</button>
	      </div>
	    </div>
	  </div>
	</div>



</div>
