<!-- Public Messaging Screen -->

<div class="row" id="public-messaging-screen" style="padding: 40px;">
	<!-- group list -->
	<div class="col-md-4" id="search-pane" style="border:solid; margin: 10px">
		
		<!-- Org Dropdown -->
		<div style="display: block;margin: auto; text-align: center;">
			<div class="btn-group" style="margin: 10px;">
			  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    EECS 482
			  </button>
			  <div class="dropdown-menu">
			    <a class="dropdown-item" href="#">EECS 388</a>
			    <a class="dropdown-item" href="#">EECS 485</a>
			  </div>
			</div>
		</div>

		


		<div style="padding: 10px;">
			<button type="button" class="btn btn-success" style="display:inline-block" data-toggle="modal" data-target="createGroupModal" style="margin-left: 10px">Create New Group</button>
			<input type="text" class="form-control" id="search-input" placeholder="Search for groups..." autocomplete="off" style="width: 59.5%;display:inline-block;">
		</div>

		<div style="margin: 10px;">
			<ul class="list-group">
			  <li ng-repeat="group in allGroups" class="list-group-item" ng-click="updateGroup(group.name, group.desc, group.members, group.spots);">
			  	<h3>{{group.name}}</h3>
			  	<p>{{formatMembers(group.members)}}</p>
			  	<p>{{group.desc}}</p>
			  </li>
		
			</ul>
		</div>
	</div>

	

	<!-- specific group -->
	<div class="col-md-7" id="search-pane" style="border:solid;margin: 10px" ng-init="currentGroup=allGroups[0].name; currentMembers='Current Members: ' + formatMembers(allGroups[0].members); openSpots='Open Spots: ' + allGroups[0].spots;desc='Description: ' + allGroups[0].desc ; ">
		<h2 ng-bind="currentGroup" style="text-align: center;">Group Name</h2>
		<br>
		<p ng-bind="currentMembers">Curr Mem</p>
		<br>
		<p ng-bind="openSpots">Open Spots: 3</p>
		<br>
		<p ng-bind="desc">Group Description</p>
		<br>
		<button style="display: block;margin: auto; text-align: center;"type="button" class="btn btn-success">Join this Group</button>
		<br>
		
	</div>


	<!-- Modal -->
	



</div>
