<!-- Public Messaging Screen -->

<div class="row" id="public-messaging-screen" style="padding: 40px;">
	<!-- group list -->
	<div class="col-md-4" id="search-pane" style="border:solid">
		 <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div> 

		<div>
			<button type="button" class="btn btn-success" style="display:inline-block">Create New Group</button>
			<input type="text" class="form-control" id="search-input" placeholder="Search for groups..." autocomplete="off" style="width: 60%;display:inline-block;">
		</div>

		<div style="margin: 10px;">
			<ul class="list-group">
			  <li class="list-group-item">Cras justo odio</li>
			  <li class="list-group-item">Dapibus ac facilisis in</li>
			  <li class="list-group-item">Morbi leo risus</li>
			  <li class="list-group-item">Porta ac consectetur ac</li>
			  <li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
	</div>

	

	<!-- specific group -->
	<div class="col-md-8" id="search-pane" style="border:solid">
		<h2>Group Name</h2>
		<br>
		<p>Group Description</p>
		<br>
		<button type="button" class="btn btn-success">Join this Group</button>
		<br>
		<div>Comments</div>
	</div>
</div>
