<div id="signup">
	<div class="box">
		<div ng-if="showSignUp">
			<h2>Sign Up</h2>
			<hr>
			<div>
				{{firstName}}
				<input ng-model="user.firstName" id="firstName"
				type="text"
				placeholder="First Name">
			</div>
			<div>
				<input ng-model="user.lastName"
				type="text"
				placeholder="Last Name">
			</div>
			<div>
				<input ng-model="emailSignUp"
				type="text"
				placeholder="Email">
			</div>
			<div>
				<input ng-model="passwordSignUp"
				type="password"
				placeholder="Password">
			</div>
			<button class="btn btn-primary" ng-click="signUp()">Sign Up</button>
			<hr>
			<button class="btn btn-facebook" ng-click="signUpWithFacebook()">Sign up with Facebook</button>
			<p class="muted">Already a member? <span class="clickable" ng-click="toggleSignUp()" style="text-decoration: underline;">Log in.</span></p>
			<div><p ng-if="signUpErrorMessage" 
			class="error">
				<small>{{ signUpErrorMessage }}</small>
			</p></div>
		</div>

		<div ng-if="!showSignUp">
			<h2>Sign In</h2>
			<hr>
			<div>
				<input ng-model="emailSignIn"
				type="text"
				placeholder="Email">
			</div>
			<div>
				<input ng-model="passwordSignIn" 
				type="password"
				placeholder="Password">
			</div>
			<button class="btn btn-primary" ng-click="signIn()">Sign In</button>
			<hr>
			<button class="btn btn-facebook" ng-click="signUpWithFacebook()">Log in with Facebook</button>
			<p class="muted">Not a member? <span class="clickable" ng-click="toggleSignUp()" style="text-decoration: underline;">Sign up.</span></p>
			<p ng-if="loginErrorMessage" 
			class="error">
				<small>{{ loginErrorMessage }}</small>
			</p>
		</div>
	</div>
</div>