<!-- User Homepage -->
<div id="wrapper-user" class="" ng-init="getData()">
	<div id="" class="user row">

		<div id="wrapper-sidebar" style="background-color: #3366ff" class="col-sm-2 col-xs-2"><center>
			<div id="" class="wrapper-profile">
				<h3 style="color: white">{{curUsername}}</h3>
			</div>

				<hr />
			<div id="" class="list-group wrapper-quicklinks" ng-repeat="(orgs, groups) in pageData">
				<a class="quicklink list-group-item" style="border-top-right-radius: 2em; border-bottom-right-radius: 2em; border-top-left-radius: 0px; border-bottom-left-radius: 0px;" ng-click="scrollTo(orgs)">{{orgs}}</a>
			</div></center>
		</div>
		<div id="wrapper-main" style="padding: 50px" class="col-sm-10 col-xs-10">
		<div class="groups-background">
			<h1 style="color: white; text-align: center; top: 50px; position: relative;">User Groups</h1>
		</div>
			<a href="#/public"><button type="button" class="btn btn-success btn-lg" style="float: right;">Look for a group!</button></a>

			<div ng-if="pendingGroups.length > 0">
				<h4>Pending groups..</h4>
				<div class="pending-groups">
					<p ng-repeat="p in pendingGroups">{{ p.org }} - {{ p.name }}</p>
				</div>
			</div>

			<div id="{{org}}" class="wrapper-organization" ng-repeat="(org, groups) in pageData">
				<a style="cursor: hand;" data-target="#{{org}}Content" data-toggle="collapse">
					<h2 style="display: inline; cursor: hand; margin-top: 25px;">{{org}}</h2>
					<span class="chev-org glyphicon glyphicon-chevron-down"></span>
				</a>
				<br />
				<div id="{{org}}Content" class="row">
					<div id="wrapper-group-{{group.groupId}}" class="wrapper-group col-md-4 collapse in" ng-repeat="(groupKey, group) in groups" ng-hide="showGroup">

						<center>
							<div class="group-title-bar">
								<h3 class="clickable"><a href="#/private?groupId={{group.groupId}}">{{group.name}}</a></h3>
							</div>

							<div id="" class="wrapper-group-notification row">
								<div id="" class="group-notification col-md-4" >
									<div class="group-notification-icon"><img src="static/img/icon-joinRequest.svg"/></div>
									{{ parseNotifications(group.notifications.joinRequest).length }} new requests
								</div>
								<div id="" class="group-notification col-md-4" >
									<div class="group-notification-icon"><img src="static/img/icon-logistics.svg"/></div>
									{{ parseNotifications(group.notifications.logistics).length }} new logistics
								</div>
								<div id="" class="group-notification col-md-4" >
									<div class="group-notification-icon"><img src="static/img/icon-contribute.svg"/></div>
									{{ parseNotifications(group.notifications.contributions).length }} new contrib
								</div>
								<div class="wrapper-chev-notif" ng-if="group.notifications" data-target="#{{org}}-{{group.groupId}}-notifications" data-toggle="collapse"  >
									<span class="chev-notif glyphicon glyphicon-chevron-down"></span>
								</div>
								<div class="wrapper-leaveBtn">
									<button class="btn btn-danger" ng-click="leaveGroup(org, groupKey, group.groupId); showGroup = !showGroup">Leave group</button>
								</div>
							</div> <!-- END notification wrapper -->

							<div id="{{org}}-{{group.groupId}}-notifications" class="wrapper-group-notification-details collapse" ng-init="notifications = parseAllNotifications(group.notifications)">
								<hr />
								<!-- ng-repeat for notifications -->
								<div class="group-notification-detail well" ng-repeat="notif in notifications" ng-hide="showNotif">
									<div class="group-notification-icon-small">
										<img ng-src="static/img/icon-{{notif[0]}}.svg"/>
									</div>
									{{ notif[1] }}
									<div ng-if="notif[0]=='joinRequest'">
										<button ng-click="approve(group.groupId, notif[2]); showNotif = ! showNotif">Approve</button>
										<button ng-click="removeNotification(group.groupId, notif[2], notif[0]); showNotif = ! showNotif">Deny</button>
									</div>
									<button ng-if="notif[0] != 'joinRequest'" ng-click="removeNotification(group.groupId, notif[2], notif[0]); showNotif = ! showNotif" class="btn btn-primary">Dismiss</button>
								</div>
							</div> <!-- END expanded notifications -->

						</center>
					</div> <!-- END .wrapper-group -->
				</div><!-- END #orgContent / .row -->
					
			</div> <!-- END .wrapper-organization -->
			
	
		</div> <!-- END #wrapper-main -->
	</div> <!-- END .user .row -->
</div> <!-- END #wrapper-user -->
