<!-- User Homepage -->
<div id="wrapper-user" class="" ng-init="getData()">
	<div id="" class="user row">
		<div id="wrapper-sidebar" class="col-md-2">
			<div id="" class="wrapper-profile">
				<img src="" class="img-circle"/>
				<h3>Username</h3>
			</div>

			<div id="" class="wrapper-quicklinks" ng-repeat="(orgs, groups) in pageData">
				<span ng-click="scrollTo(orgs)">{{orgs}}</span>
			</div>
		</div>
		<div id="wrapper-main" class="col-md-10">
		
			<a href="#/public"><button>Look for a group!</button></a>

	
			<div id="{{org}}" class="wrapper-organization" ng-repeat="(org, groups) in pageData">
				<h2>{{org}}</h2>
				<span class="caret" data-target="#{{org}}Content" data-toggle="collapse"></span>
				<div id="{{org}}Content" class="row">
					<div id="wrapper-group-groupTitle" class="wrapper-group col-md-4 collapse in"  ng-repeat="group in groups">
						<div class="group-title-bar">
							<h3><a href="#/private?groupId={{group.groupId}}">{{group.name}}</a></h3>
						</div>
						<div id="" class="wrapper-group-notification row">
							<div id="" class="group-notification col-md-4">
								<div class="group-notification-icon"></div>
								X new Balls
							</div>
							<div id="" class="group-notification col-md-4">
								<div class="group-notification-icon"></div>
								X new Balls
							</div>
							<div id="" class="group-notification col-md4">
								<div class="group-notification-icon"></div>
								X new Balls
							</div>

							<span class="caret" data-target="#{{org}}-{{group.groupId}}-notifications" data-toggle="collapse"></span>
							<div id="{{org}}-{{group.groupId}}-notifications" class="wrapper-group-notification-details collapse">
								<!-- ng-repeat for notifications -->
								<div class="group-notification-detail">
									<div class="group-notification-icon-small"></div>
									Stali changed the group name
								</div>
							</div> <!-- END expanded notifications -->

						</div> <!-- END notification wrapper -->
					</div><!-- END .wrapper-group -->
				</div> <!-- END .row -->

			</div> <!-- END .wrapper-organization -->

	
	</div> <!-- END .row -->
</div> <!-- END #wrapper-user -->